{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es2022": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "requireConfigFile": false
  },
  "extends": ["eslint:recommended", "plugin:vitest-globals/recommended", "turbo", "prettier"],
  "plugins": ["unicorn", "node"],
  "rules": {
    "no-constant-condition": "off",
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "kebabCase": true
        }
      }
    ],
    "unicorn/prefer-node-protocol": "error"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": ["plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"],
      "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest",
        "warnOnUnsupportedTypeScriptVersion": true,
        "project": "./tsconfig.eslint.json"
      },
      "rules": {
        "@typescript-eslint/consistent-type-imports": ["error", { "prefer": "no-type-imports" }],
        "@typescript-eslint/no-floating-promises": "error",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_",
            "caughtErrorsIgnorePattern": "^_",
            "destructuredArrayIgnorePattern": "^_"
          }
        ]
      }
    },
    {
      "files": ["**/*.test.{js,mjs,cjs,ts}"],
      "env": {
        "vitest-globals/env": true
      }
    }
  ]
}
