{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "endOfLine": "lf",
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@gpahal/(.*)$",
    "",
    "^~/(.*)$",
    "",
    "^[../]",
    "^[./]"
  ]
}
